 
.animated-bg{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:3rem;
    font-family:'Poppins',sans-serif;

    background: linear-gradient(
        -45deg,
        #00c6ff,
        #0072ff,
        #36d1dc,
        #5b86e5,
        #00c6ff
    );

    background-size:400% 400%;
    animation:oceanFlow 10s ease infinite;
}

@keyframes oceanFlow{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}